.warning_high{
    background-color: red;
    width: 2em;
}
.warning_medium{
    background-color: orange;
}
.warning_low{
    background-color: yellow;
}
.warning_very_low{
    background-color: lightgreen;
}
.Legend{
    position: relative;
    float: right;
}